:root{
    --dark-blue: #3369af;
    --dark-blue-hover: #477dc4;
    --glow-blue: #4487dfce;
    --navy: #1a1f47;
    --dark-navy: #0E1525;
    --smoth-blue: #4f9ed3;
    --smoth-black: #090d16;
}
*{
    scroll-behavior: smooth;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    transition: .4s ease-in-out;
}
/* stick */
#navbar {
    border-radius: 0px 0px 8px 8px;
    background-color: var(--smoth-black);
    z-index: 100;
}

nav h3 {
    margin: 0;
}

  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
}

.blue-btn {
    display: inline-block;
    padding: 8px 16px;
    /* background: linear-gradient(130deg, var(--smoth-blue), var(--dark-blue)); */
    background-color: var(--dark-blue);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: all .3s ease;
}

.blue-btn-glow {
    display: inline-block;
    padding: 8px 16px;
    background: linear-gradient(130deg, var(--smoth-blue), var(--dark-blue));
    box-shadow: 0 0px 30px 1px var(--glow-blue);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: all .3s ease;
}

.blue-btn-border {
    display: inline-block;
    padding: 8px 16px;
    background-color: transparent;
    color: white;
    border: 1px solid var(--dark-blue);
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: all .3s ease;
}

.blue-btn:hover{
    background-color: var(--dark-blue-hover);
}
.blue-btn-glow:hover{
    box-shadow: 0 0px 35px 3px var(--glow-blue);
}

.blue-btn-border:hover{
    border: 1px solid transparent;
    background-color: var(--dark-blue);
}

nav ul li a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

nav ul li a:focus,
nav ul li a:hover {
    color: #fff;
}

nav ul li a:focus:after,
nav ul li a:hover:after {
    width: 100%;
    left: 0%;
}

nav ul li a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.nav-menu {
    display: none;
}

.mini-navbar {
    position: fixed;
    width: 100%;
    height: 80vh;
    background-color: var(--smoth-black);
    z-index: 100;
    text-align: center;
    padding: 24px;
    transition: all .5s ease;
}

.mini-navbar ul {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.mini-navbar ul li a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    letter-spacing: 1px;
    padding-bottom: 5px;

}

.mini-navbar ul li a:focus,
.mini-navbar ul li a:hover {
    color: #fff;
}

.mini-navbar ul li a:focus:after,
.mini-navbar ul li a:hover:after {
    width: 100%;
    left: 0%;
}

.mini-navbar ul li a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* Media queries for mobile */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }
    .nav-menu {
        display: block;
    }

    
}

.bg-dark-navy {
    background-color: var(--dark-navy);
}
.header-content {
    position: absolute;
    z-index: 2;
}
.hero-line{
    width: 480px;
    height: 20px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0px 30px 1px var(--glow-blue);
    border-radius: 4px;
}
@media (max-width: 1280px) {
    .hero-line {
        display: none;
    }
}

.about-img {
    width: 480px;
    height: 550px;
    position: relative;
    z-index: 4;
    background-size: cover;
    background-position: center;
}

.about-shape {
    background-color: var(--glass-blue);
    width: 200px;
    height: 250px;
    position: absolute;
    z-index: 3;
    margin-top: calc(250px - 550px);
    margin-left: calc(480px - 200px);
    box-shadow: 0 50px 80px 5px var(--glow-blue);
}

.porto-img {
    width: 530px;
    height: 400px;
    position: relative;
    z-index: 4;
    background-size: cover;
    background-position: center;
}
.porto-shape {
    background-color: var(--dark-blue);
    width: 250px;
    height: 200px;
    position: absolute;
    z-index: 3;
    margin-top: calc(400px - 200px);
    margin-right: calc(530px - 250px);
    box-shadow: 0 0px 80px 5px var(--glow-blue);
}
.porto-shape-2 {
    background-color: var(--dark-blue);
    width: 250px;
    height: 200px;
    position: absolute;
    z-index: 3;
    margin-top: calc(400px - 200px);
    margin-left: calc(530px - 250px);
    box-shadow: 0 0px 80px 5px var(--glow-blue);
}

.logo-skill{
    width: 80px;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
}
#experience p {
    padding-top: 8px;
}

