*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
nav{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    z-index: 10;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav ul li a:hover{
    border-bottom: 4px solid black;
    transition: all .2s ease-out;
}
.cover{
    height: 100vh;
}
.hero{
    overflow: hidden;
    width: 100%;
    height: 150vh;
    position: relative;
}
.hero img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: top; */
}
.cover h1{
    position: absolute;
    z-index: 3;
    top: 45%;
    left: -100px;
    right: 0;
    font-size: 150px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}
.adventure-img{
    z-index: 3;
}
.focus-img{
    z-index: 4;
}
.leaf-img{
    z-index: 5;
}
.bird-img{
    z-index: 6;
}
.btn{
    position: absolute;
    top: 85%;
    z-index: 9;
    margin: 0 auto;
    left: 50%;
    color: white;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #0f7213;
    font-size: 20px;
    box-shadow: 5px 0px 15px #1d1d1d;
    border: 0px;
    cursor: pointer;
}
.content{
    margin-top: 200px;
}